/* html tags */
html {
  scroll-behavior: smooth;
	line-height: 1.5;
	overflow-x: hidden;
}
body {
  background-color: #005096;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
	padding: 0;
}
h1{
  font-family: 'Montserrat',sans-serif;
  color:#fff;
  font-size: 90px;
}
h2 {
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  font-size: 35px;
  color:#fff;
  text-align: center;
}
h4 {
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  font-size: 50px;
  color:#fff;
}
h3 {
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  font-size: 30px;
  color:#fff;
  text-align: center;
}
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/*First Sectiom */
#head {
  height: 100vh;
  width: 100%;
}
#title {
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml15 {
}
.ml15 .word {
  display:inline-block;
  font-size: 4.7rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.ml15 .pic1{
  max-height: 274px;
  position: relative;
  height: 240px;
}
.pic2{
  max-height: 94px;
  position: absolute;
  right: 50px;
  top: 70px;
}
.arrow {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}


/* second Section*/
.fooder {
   background-color: #005096;
   height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
 }
 #first .invisible{
   visibility: hidden;
   margin-top: -10px;
 }
.boxes {
  /* background-color: #eeeeee; */
  border-radius: 20px;
  padding: 22px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
}
.context {
  color: #0000
}
.context p {
  font-size: 25px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
	color: #fff;
  text-align: center;
  margin: 1rem 0rem;
}
#formButton {
  width: 300px;
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
}

/*Wave line*/
 .canvas-wrap {
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50%);
  }
  canvas {
    display: block;
  }


/* media query */

@media all and (max-width: 600px){
    .home_grid{
      margin: auto;
    }
    #head{
      height:70vh;
    }
    .arrow{
      margin: 0px 0px;
      display: none;
    }
    .ml15{
      height: 200px;
    }
    .ml15 .word{
      font-weight: 600;
      font-size: 3.3rem;
    }
    .ml15 .pic1{
      height: 240px;
    }
    .pic2{
      display: none;
    }
    .fooder{
      height: 85vh;
    }
    .context ul{
      padding: 0px 20px;
    }
    .context p{
      font-size: 13px;
      padding: 2px 30px;
    }
    #formButton{
      width: 150px;
      padding: 5px 0px;
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 10px;
    }
    #end{
      height: 60vh;
    }
    .box-2{
      visibility: hidden;
      height: 0px;
    }
  }
@media all and (min-width: 800px) {
    .navbar .nav-item .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link {
      color: #000;
    }

    .navbar .dropdown-menu.fade-down {
      top: 80%;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
      top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
      transition: .3s;
      opacity: 1;
      visibility: visible;
      top: 100%;
      transform: rotateX(0deg);
    }
  }


/*###################################################
       DONT CHECK
   ################################*/
/*###################################################
   WAVES FOOTER------------------------
   ################################*/


/* navbar */
.nav-item {
  font-family: 'Lato', sans-serif;
}
.navbar-collapse ul li a {
  font-weight: bold;
  color: #000;
  font-size: 0.9rem;
}
.dropdown-item {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
.dropdown-item:hover {
  background-color: #5eaaa8;
}
.sign{
  margin: 2px;
}
#cart_link{
  background: #cffffe;border:1px solid;border-radius:10px;
}
#cart_link:hover{
  background: #b2ebf2;
}


/* progress bar */
.progress-container {
  width: 100%;
  height: 4px;
  background: #fff;
 position:absolute;
  left:0;
  bottom:0;
  z-index: 1030;
 -webkit-transform:transform3d(0,0,0);
  -webkit-overflow-scrolling: touch;

}
.progress-bar {
  height: 4px;
  background: #ff0000;
  width: 0%;
}
.box-1 {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}
.box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-deck .row {
  margin: auto;
}
.card {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}

 .social-media {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
 }
 .social-media .button {
   display: inline-block;
   height: 60px;
   width: 60px;
   float: left;
   margin: 0 5px;
   overflow: hidden;
   background: #cccccc;
   border-radius: 40px;
   cursor: pointer;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease-out;
 }
 .social-media .button .icon {
   display: block;
   height: 60px;
   width: 60px;
   text-align: center;
   border-radius: 50px;
   box-sizing: border-box;
   line-height: 60px;
   transition: all 0.3s ease-out;
 }
 .social-media .button:nth-child(1):hover .icon {
   background: #4267B2;
 }
 .social-media .button:nth-child(2):hover .icon {
   background: #1DA1F2;
 }
 .social-media .button:nth-child(3):hover .icon {
   background: #1DA1F2;
 }
 .social-media .button:nth-child(4):hover .icon {
   background: #ff0000;
 }
 .social-media .button .icon i {
   font-size: 25px;
   line-height: 60px;
   transition: all 0.3s ease-out;
 }
 .social-media .button:hover .icon i {
   color: #fff;
 }
 .noty_theme__mint{
   border-radius: 50px!important;
   padding-left: 8px!important;
 }

 #end {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 	  background-color: #f8f8f8;
    box-sizing: border-box;
  }
 #end .foo {
 	border-top: 1px;
 	text-align: center;
 }
 #end .foo .foo-box img {
 	height: 40px;
 }
 #end h4, p{
  color: #170000;
 }
 *,*:before,*:after {
   box-sizing: border-box;
 }
